<a href="https://colab.research.google.com/github/anisfreelancer71/kapal_titanic/blob/main/13_Belajar_Membuat_Looping_dan_Iterasi_di_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

13. Belajar Membuat Looping dan Iterasi di Python

In [3]:
for i in 'saya belajar python':
    print(i, end='')

saya belajar python

In [4]:
angka = (1,2,3,4,5,6,7,8,9,10)

In [5]:
for isi in angka:
    print(isi)

1
2
3
4
5
6
7
8
9
10

In [6]:
jumlah = 0

In [8]:
for isi in angka:
    jumlah = jumlah + isi
    print('Hasil penjumlahan pada iterator ke-{} adalah {}'.format(isi,jumlah))

Hasil penjumlahan pada iterator ke-1 adalah 1
Hasil penjumlahan pada iterator ke-2 adalah 3
Hasil penjumlahan pada iterator ke-3 adalah 6
Hasil penjumlahan pada iterator ke-4 adalah 10
Hasil penjumlahan pada iterator ke-5 adalah 15
Hasil penjumlahan pada iterator ke-6 adalah 21
Hasil penjumlahan pada iterator ke-7 adalah 28
Hasil penjumlahan pada iterator ke-8 adalah 36
Hasil penjumlahan pada iterator ke-9 adalah 45
Hasil penjumlahan pada iterator ke-10 adalah 55

In [9]:
for isi in angka:
    jumlah = jumlah + isi
print('Hasil penjumlahan total adalah' ,jumlah)

Hasil penjumlahan total adalah 110

#penggunaan looping dan conditional

In [10]:
for item in 'Saya belajar Python':
    if (item == 'a'):
        print('hey kamu berada di hurup A, selamat!')

hey kamu berada di hurup A, selamat!
hey kamu berada di hurup A, selamat!
hey kamu berada di hurup A, selamat!
hey kamu berada di hurup A, selamat!

In [11]:
jumlah = 0
for item in 'Saya belajar Python':
    jumlah += 1
    if (item == 'a'):
        print('hey kamu berada di hurup A, selamat!',jumlah)

hey kamu berada di hurup A, selamat! 2
hey kamu berada di hurup A, selamat! 4
hey kamu berada di hurup A, selamat! 9
hey kamu berada di hurup A, selamat! 11

In [12]:
angka = [1,2,3,4,5,6,7,8,9,10]
for item in angka:
    if item%2 == 0:
        print('angka {} adalah bilangan genap'.format(item))
    else:
        print('angka {} adalah bilangan ganjil'.format(item))

angka 1 adalah bilangan ganjil
angka 2 adalah bilangan genap
angka 3 adalah bilangan ganjil
angka 4 adalah bilangan genap
angka 5 adalah bilangan ganjil
angka 6 adalah bilangan genap
angka 7 adalah bilangan ganjil
angka 8 adalah bilangan genap
angka 9 adalah bilangan ganjil
angka 10 adalah bilangan genap

In [15]:
angka = [1,2,3,4,5,6,7,8,9,10]
for item in angka:
    if item%2 == 0:
        print('angka', item ,'adalah bilangan genap')
    else:
        print('angka' +str(item)+ 'adalah bilangan ganjil')

angka1adalah bilangan ganjil
angka 2 adalah bilangan genap
angka3adalah bilangan ganjil
angka 4 adalah bilangan genap
angka5adalah bilangan ganjil
angka 6 adalah bilangan genap
angka7adalah bilangan ganjil
angka 8 adalah bilangan genap
angka9adalah bilangan ganjil
angka 10 adalah bilangan genap

##For loop dengan tuple dan list multiple items

In [18]:
box1 = ((1,2),(3,4),(5,6))

In [19]:
for item in box1:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [20]:
for a,b in box1:
    print(a,b)

1 2
3 4
5 6

In [21]:
for a,b in box1:
    print(a)
    print(b)

1
2
3
4
5
6

In [22]:
box2 = [[1,2],[3,4],[5,6]]

In [23]:
for a,b in box2:
    print(a)
    print(b)

1
2
3
4
5
6

In [24]:
box3 = [[1,2,'a'],[3,4,'b'],[5,6,'c']]

In [26]:
for i,j,k in box3:
    print(i)
    print(j)
    print(k)

1
2
a
3
4
b
5
6
c

In [27]:
for i,j,k in box3:
    print(i)

1
3
5

In [28]:
for i,j,k in box3:

    print(j)

2
4
6

In [29]:
for i,j,k in box3:

    print(k)

a
b
c

##While loop

In [30]:
index = 0
while True:
    print('Saya berhasil menjalankan while loop')
    index += 1
    if index == 10:
        break

Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop

In [31]:
x = 0

In [32]:
while x < 50:
    print('Bilangan x saat ini adalah:',x)
    x += 2

Bilangan x saat ini adalah: 0
Bilangan x saat ini adalah: 2
Bilangan x saat ini adalah: 4
Bilangan x saat ini adalah: 6
Bilangan x saat ini adalah: 8
Bilangan x saat ini adalah: 10
Bilangan x saat ini adalah: 12
Bilangan x saat ini adalah: 14
Bilangan x saat ini adalah: 16
Bilangan x saat ini adalah: 18
Bilangan x saat ini adalah: 20
Bilangan x saat ini adalah: 22
Bilangan x saat ini adalah: 24
Bilangan x saat ini adalah: 26
Bilangan x saat ini adalah: 28
Bilangan x saat ini adalah: 30
Bilangan x saat ini adalah: 32
Bilangan x saat ini adalah: 34
Bilangan x saat ini adalah: 36
Bilangan x saat ini adalah: 38
Bilangan x saat ini adalah: 40
Bilangan x saat ini adalah: 42
Bilangan x saat ini adalah: 44
Bilangan x saat ini adalah: 46
Bilangan x saat ini adalah: 48

In [33]:
angka = (1,2,3,4,5,6,7,8,9,10)

In [34]:
for item in angka:
    if item%2 == 0:
        continue
    else:
        print('Anda berada di angka ganjil =' ,item)

Anda berada di angka ganjil = 1
Anda berada di angka ganjil = 3
Anda berada di angka ganjil = 5
Anda berada di angka ganjil = 7
Anda berada di angka ganjil = 9

In [35]:
for i in 'saya sudah mulai mahir di Python':
    if i == 'a':
        pass
    else:
          continue

In [36]:
for i in 'abcd':
        pass