<a href="https://colab.research.google.com/github/anisfreelancer71/kapal_titanic/blob/main/from_google_colab_import_drive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###from google.colab import drive
###drive.mount('/content/drive')

In [38]:
!ls "/content/drive/My Drive"

'Colab Notebooks'		'Dokumen tanpa judul (2).gdoc'	 filecsv
'Dokumen tanpa judul (1).gdoc'	'Dokumen tanpa judul.gdoc'

In [39]:
!ls "/content/drive/My Drive/filecsv"

 creditcard.csv		   'Salinan shopping_data.gsheet'
 data_harga_rumah.csv	    shopping_data.csv
 kapal_titanic.csv.gsheet   shopping_data.csv.gsheet
 lc_2016_2017.csv	    shopping_data.gsheet

In [54]:
import pandas as pd
file_path1 = '/content/drive/My Drive/filecsv/creditcard.csv'
data1 = pd.read_csv(file_path1)

In [41]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [42]:
data.shape

(178374, 31)

In [60]:
file_path2 = '/content/drive/My Drive/filecsv/data_harga_rumah.csv'
data2 = pd.read_csv(file_path2)
data2.head()

,NO,NAMA RUMAH,HARGA,LB,LT,KT,KM,GRS,Unnamed: 8,Unnamed: 9,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,1,"Rumah Murah Hook Tebet Timur, Tebet, Jakarta S...",3800000000,220,220,3,3,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"Rumah Modern di Tebet dekat Stasiun, Tebet, Ja...",4600000000,180,137,4,3,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"Rumah Mewah 2 Lantai Hanya 3 Menit Ke Tebet, T...",3000000000,267,250,4,4,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"Rumah Baru Tebet, Tebet, Jakarta Selatan",430000000,40,25,2,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"Rumah Bagus Tebet komp Gudang Peluru lt 350m, ...",9000000000,400,355,6,5,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
# Membuat daftar nama kolom yang akan dihapus
kolom_hapus = [f'Unnamed: {i}' for i in range(8, 1001)]

# Menghapus kolom-kolom tersebut dari DataFrame
data2.drop(columns=kolom_hapus, inplace=True)

In [77]:
# Menghapus kolom 'NAMA RUMAH' dari DataFrame
data2.drop(['NAMA RUMAH'], axis=1, inplace=True)

KeyError: ignored

In [78]:
data2

        NO        HARGA   LB   LT  KT  KM  GRS
0        1   3800000000  220  220   3   3    0
1        2   4600000000  180  137   4   3    2
2        3   3000000000  267  250   4   4    4
3        4    430000000   40   25   2   2    0
4        5   9000000000  400  355   6   5    3
...    ...          ...  ...  ...  ..  ..  ...
1005  1006   9000000000  450  550  10  10    3
1006  1007   4000000000  160  140   4   3    2
1007  1008   4000000000  139  230   4   4    1
1008  1009  19000000000  360  606   7   4    0
1009  1010  10500000000  420  430   7   4    2

[1010 rows x 7 columns]

In [79]:
!ls "/content/drive/My Drive/filecsv"

 creditcard.csv		   'Salinan shopping_data.gsheet'
 data_harga_rumah.csv	    shopping_data.csv
 kapal_titanic.csv.gsheet   shopping_data.csv.gsheet
 lc_2016_2017.csv	    shopping_data.gsheet

In [68]:
file_path3 = "/content/drive/My Drive/filecsv/shopping_data.csv"
data3 = pd.read_csv(file_path3)
data3

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [69]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [70]:
!ls "/content/drive/My Drive/filecsv"

 creditcard.csv		   'Salinan shopping_data.gsheet'
 data_harga_rumah.csv	    shopping_data.csv
 kapal_titanic.csv.gsheet   shopping_data.csv.gsheet
 lc_2016_2017.csv	    shopping_data.gsheet

In [71]:
file_path4 = "/content/drive/My Drive/filecsv/lc_2016_2017.csv"
data4 = pd.read_csv(file_path4)
data4

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,112435993,NaN,2300,2300,2300,36 months,12.62,77.08,C,C1,...,0.0,NaN,1.0,2.0,2315.0,55.0,7100.0,1.0,0.0,2.0
1,112290210,NaN,16000,16000,16000,60 months,12.62,360.95,C,C1,...,11078.0,69.0,3.0,5.0,1962.0,94.0,31900.0,0.0,6.0,1.0
2,112436985,NaN,6025,6025,6025,36 months,15.05,209.01,C,C4,...,0.0,NaN,1.0,2.0,1950.0,45.0,27700.0,1.0,5.0,3.0
3,112439006,NaN,20400,20400,20400,36 months,9.44,652.91,B,B1,...,53566.0,95.0,1.0,2.0,4240.0,60.0,46900.0,1.0,1.0,1.0
4,112438929,NaN,13000,13000,13000,36 months,11.99,431.73,B,B5,...,8466.0,72.0,0.0,1.0,2996.0,78.0,7800.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117582,102659511,NaN,15000,15000,15000,36 months,14.99,519.91,C,C4,...,39230.0,NaN,0.0,2.0,1961.0,38.0,12500.0,0.0,7.0,0.0
117583,102374294,NaN,5000,5000,5000,36 months,22.74,192.88,E,E1,...,41477.0,104.0,0.0,1.0,739.0,93.0,5800.0,3.0,0.0,4.0
117584,102658297,NaN,25000,25000,25000,60 months,13.99,581.58,C,C3,...,40764.0,72.0,1.0,2.0,8855.0,55.0,74100.0,2.0,5.0,1.0
117585,102366138,NaN,14000,14000,14000,36 months,7.24,433.82,A,A3,...,38470.0,81.0,2.0,2.0,3368.0,51.0,40000.0,3.0,0.0,1.0
117586,102374176,NaN,5000,5000,5000,36 months,23.99,196.14,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# Menghapus kolom "NAMA RUMAH" dari DataFrame data2
data2.drop('NAMA RUMAH', axis=1, inplace=True)

# Menghapus kolom-kolom "Unnamed: 8" hingga "Unnamed: 1000" dari DataFrame data2
columns_to_drop = [f'Unnamed: {i}' for i in range(8, 1001)]
data2.drop(columns=columns_to_drop, inplace=True)

In [82]:
import pandas as pd

# Baca file CSV menjadi DataFrame
data1 = pd.read_csv(file_path1)
data2 = pd.read_csv(file_path2)
data3 = pd.read_csv(file_path3)
data4 = pd.read_csv(file_path4)

# Gabungkan DataFrame menggunakan pd.concat
combined_df = pd.concat([data1, data2, data3, data4], ignore_index=True)

# Simpan DataFrame gabungan ke file CSV
combined_df.to_csv('combined.csv', index=False)

# Cetak DataFrame gabungan
print(combined_df)

        Time        V1        V2        V3        V4        V5        V6  \
0        0.0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388
1        0.0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361
2        1.0 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499
3        1.0 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203
4        2.0 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921
...      ...       ...       ...       ...       ...       ...       ...
297166   NaN       NaN       NaN       NaN       NaN       NaN       NaN
297167   NaN       NaN       NaN       NaN       NaN       NaN       NaN
297168   NaN       NaN       NaN       NaN       NaN       NaN       NaN
297169   NaN       NaN       NaN       NaN       NaN       NaN       NaN
297170   NaN       NaN       NaN       NaN       NaN       NaN       NaN

              V7        V8        V9  ...  total_bal_il  il_util  open_rv_12m  \
0       0.239599  0.098698  0.363787  ...           NaN      NaN          NaN
1      -0.078803  0.085102 -0.255425  ...           NaN      NaN          NaN
2       0.791461  0.247676 -1.514654  ...           NaN      NaN          NaN
3       0.237609  0.377436 -1.387024  ...           NaN      NaN          NaN
4       0.592941 -0.270533  0.817739  ...           NaN      NaN          NaN
...          ...       ...       ...  ...           ...      ...          ...
297166       NaN       NaN       NaN  ...       39230.0      NaN          0.0
297167       NaN       NaN       NaN  ...       41477.0    104.0          0.0
297168       NaN       NaN       NaN  ...       40764.0     72.0          1.0
297169       NaN       NaN       NaN  ...       38470.0     81.0          2.0
297170       NaN       NaN       NaN  ...           NaN      NaN          NaN

        open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  \
0               NaN         NaN       NaN               NaN     NaN
1               NaN         NaN       NaN               NaN     NaN
2               NaN         NaN       NaN               NaN     NaN
3               NaN         NaN       NaN               NaN     NaN
4               NaN         NaN       NaN               NaN     NaN
...             ...         ...       ...               ...     ...
297166          2.0      1961.0      38.0           12500.0     0.0
297167          1.0       739.0      93.0            5800.0     3.0
297168          2.0      8855.0      55.0           74100.0     2.0
297169          2.0      3368.0      51.0           40000.0     3.0
297170          NaN         NaN       NaN               NaN     NaN

        total_cu_tl  inq_last_12m
0               NaN           NaN
1               NaN           NaN
2               NaN           NaN
3               NaN           NaN
4               NaN           NaN
...             ...           ...
297166          7.0           0.0
297167          0.0           4.0
297168          5.0           1.0
297169          0.0           1.0
297170          NaN           NaN

[297171 rows x 1109 columns]