<a href="https://colab.research.google.com/github/anisfreelancer71/kapal_titanic/blob/main/Salinan_dari_from_google_colab_import_drive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###from google.colab import drive
###drive.mount('/content/drive')

In [ ]:
!ls "/content/drive/My Drive"

'Colab Notebooks'		'Dokumen tanpa judul (2).gdoc'	 filecsv
'Dokumen tanpa judul (1).gdoc'	'Dokumen tanpa judul.gdoc'

In [ ]:
!ls "/content/drive/My Drive/filecsv"

 creditcard.csv		   'Salinan shopping_data.gsheet'
 data_harga_rumah.csv	    shopping_data.csv
 kapal_titanic.csv.gsheet   shopping_data.csv.gsheet
 lc_2016_2017.csv	    shopping_data.gsheet

In [ ]:
import pandas as pd
file_path1 = '/content/drive/My Drive/filecsv/creditcard.csv'
data1 = pd.read_csv(file_path1)

In [ ]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
data.shape

(178374, 31)

In [ ]:
file_path2 = '/content/drive/My Drive/filecsv/data_harga_rumah.csv'
data2 = pd.read_csv(file_path2)
data2.head()

,NO,NAMA RUMAH,HARGA,LB,LT,KT,KM,GRS,Unnamed: 8,Unnamed: 9,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,1,"Rumah Murah Hook Tebet Timur, Tebet, Jakarta S...",3800000000,220,220,3,3,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"Rumah Modern di Tebet dekat Stasiun, Tebet, Ja...",4600000000,180,137,4,3,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"Rumah Mewah 2 Lantai Hanya 3 Menit Ke Tebet, T...",3000000000,267,250,4,4,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"Rumah Baru Tebet, Tebet, Jakarta Selatan",430000000,40,25,2,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"Rumah Bagus Tebet komp Gudang Peluru lt 350m, ...",9000000000,400,355,6,5,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Membuat daftar nama kolom yang akan dihapus
kolom_hapus = [f'Unnamed: {i}' for i in range(8, 1001)]

# Menghapus kolom-kolom tersebut dari DataFrame
data2.drop(columns=kolom_hapus, inplace=True)

In [ ]:
# Menghapus kolom 'NAMA RUMAH' dari DataFrame
data2.drop(['NAMA RUMAH'], axis=1, inplace=True)

In [ ]:
data2

        NO        HARGA   LB   LT  KT  KM  GRS
0        1   3800000000  220  220   3   3    0
1        2   4600000000  180  137   4   3    2
2        3   3000000000  267  250   4   4    4
3        4    430000000   40   25   2   2    0
4        5   9000000000  400  355   6   5    3
...    ...          ...  ...  ...  ..  ..  ...
1005  1006   9000000000  450  550  10  10    3
1006  1007   4000000000  160  140   4   3    2
1007  1008   4000000000  139  230   4   4    1
1008  1009  19000000000  360  606   7   4    0
1009  1010  10500000000  420  430   7   4    2

[1010 rows x 7 columns]

In [ ]:
!ls "/content/drive/My Drive/filecsv"

 creditcard.csv		   'Salinan shopping_data.gsheet'
 data_harga_rumah.csv	    shopping_data.csv
 kapal_titanic.csv.gsheet   shopping_data.csv.gsheet
 lc_2016_2017.csv	    shopping_data.gsheet

In [ ]:
file_path3 = "/content/drive/My Drive/filecsv/shopping_data.csv"
data3 = pd.read_csv(file_path3)
data3

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!ls "/content/drive/My Drive/filecsv"

 creditcard.csv		   'Salinan shopping_data.gsheet'
 data_harga_rumah.csv	    shopping_data.csv
 kapal_titanic.csv.gsheet   shopping_data.csv.gsheet
 lc_2016_2017.csv	    shopping_data.gsheet

In [ ]:
file_path4 = "/content/drive/My Drive/filecsv/lc_2016_2017.csv"
data4 = pd.read_csv(file_path4)
data4

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,112435993,NaN,2300,2300,2300,36 months,12.62,77.08,C,C1,...,0.0,NaN,1.0,2.0,2315.0,55.0,7100.0,1.0,0.0,2.0
1,112290210,NaN,16000,16000,16000,60 months,12.62,360.95,C,C1,...,11078.0,69.0,3.0,5.0,1962.0,94.0,31900.0,0.0,6.0,1.0
2,112436985,NaN,6025,6025,6025,36 months,15.05,209.01,C,C4,...,0.0,NaN,1.0,2.0,1950.0,45.0,27700.0,1.0,5.0,3.0
3,112439006,NaN,20400,20400,20400,36 months,9.44,652.91,B,B1,...,53566.0,95.0,1.0,2.0,4240.0,60.0,46900.0,1.0,1.0,1.0
4,112438929,NaN,13000,13000,13000,36 months,11.99,431.73,B,B5,...,8466.0,72.0,0.0,1.0,2996.0,78.0,7800.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117582,102659511,NaN,15000,15000,15000,36 months,14.99,519.91,C,C4,...,39230.0,NaN,0.0,2.0,1961.0,38.0,12500.0,0.0,7.0,0.0
117583,102374294,NaN,5000,5000,5000,36 months,22.74,192.88,E,E1,...,41477.0,104.0,0.0,1.0,739.0,93.0,5800.0,3.0,0.0,4.0
117584,102658297,NaN,25000,25000,25000,60 months,13.99,581.58,C,C3,...,40764.0,72.0,1.0,2.0,8855.0,55.0,74100.0,2.0,5.0,1.0
117585,102366138,NaN,14000,14000,14000,36 months,7.24,433.82,A,A3,...,38470.0,81.0,2.0,2.0,3368.0,51.0,40000.0,3.0,0.0,1.0
117586,102374176,NaN,5000,5000,5000,36 months,23.99,196.14,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd

# Baca file CSV menjadi DataFrame
data1 = pd.read_csv(file_path1)
data2 = pd.read_csv(file_path2)
data3 = pd.read_csv(file_path3)
data4 = pd.read_csv(file_path4)

# Gabungkan DataFrame menggunakan pd.concat
data_gab = pd.concat([data1, data2, data3, data4], ignore_index=True)

# Simpan DataFrame gabungan ke file CSV
data_gab.to_csv('combined.csv', index=False)

# Cetak DataFrame gabungan
print(data_gab)

        Time        V1        V2        V3        V4        V5        V6  \
0        0.0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388
1        0.0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361
2        1.0 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499
3        1.0 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203
4        2.0 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921
...      ...       ...       ...       ...       ...       ...       ...
297166   NaN       NaN       NaN       NaN       NaN       NaN       NaN
297167   NaN       NaN       NaN       NaN       NaN       NaN       NaN
297168   NaN       NaN       NaN       NaN       NaN       NaN       NaN
297169   NaN       NaN       NaN       NaN       NaN       NaN       NaN
297170   NaN       NaN       NaN       NaN       NaN       NaN       NaN

              V7        V8        V9  ...  total_bal_il  il_util  open_rv_12m  \
0       0.239599  0.098698  0.363787  ...           NaN      NaN          NaN
1      -0.078803  0.085102 -0.255425  ...           NaN      NaN          NaN
2       0.791461  0.247676 -1.514654  ...           NaN      NaN          NaN
3       0.237609  0.377436 -1.387024  ...           NaN      NaN          NaN
4       0.592941 -0.270533  0.817739  ...           NaN      NaN          NaN
...          ...       ...       ...  ...           ...      ...          ...
297166       NaN       NaN       NaN  ...       39230.0      NaN          0.0
297167       NaN       NaN       NaN  ...       41477.0    104.0          0.0
297168       NaN       NaN       NaN  ...       40764.0     72.0          1.0
297169       NaN       NaN       NaN  ...       38470.0     81.0          2.0
297170       NaN       NaN       NaN  ...           NaN      NaN          NaN

        open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  \
0               NaN         NaN       NaN               NaN     NaN
1               NaN         NaN       NaN               NaN     NaN
2               NaN         NaN       NaN               NaN     NaN
3               NaN         NaN       NaN               NaN     NaN
4               NaN         NaN       NaN               NaN     NaN
...             ...         ...       ...               ...     ...
297166          2.0      1961.0      38.0           12500.0     0.0
297167          1.0       739.0      93.0            5800.0     3.0
297168          2.0      8855.0      55.0           74100.0     2.0
297169          2.0      3368.0      51.0           40000.0     3.0
297170          NaN         NaN       NaN               NaN     NaN

        total_cu_tl  inq_last_12m
0               NaN           NaN
1               NaN           NaN
2               NaN           NaN
3               NaN           NaN
4               NaN           NaN
...             ...           ...
297166          7.0           0.0
297167          0.0           4.0
297168          5.0           1.0
297169          0.0           1.0
297170          NaN           NaN

[297171 rows x 1109 columns]

In [ ]:
# Menghapus kolom-kolom "Unnamed: 8" hingga "Unnamed: 1000" dari DataFrame
columns_to_drop = [f'Unnamed: {i}' for i in range(8, 1001)]
data_gab.drop(columns=columns_to_drop, inplace=True)

In [ ]:
data_gab

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39230.0,NaN,0.0,2.0,1961.0,38.0,12500.0,0.0,7.0,0.0
297167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41477.0,104.0,0.0,1.0,739.0,93.0,5800.0,3.0,0.0,4.0
297168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40764.0,72.0,1.0,2.0,8855.0,55.0,74100.0,2.0,5.0,1.0
297169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38470.0,81.0,2.0,2.0,3368.0,51.0,40000.0,3.0,0.0,1.0
297170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Mengisi nilai NaN dengan nilai mean dari masing-masing kolom
data_gab.fillna(data_gab.mean(), inplace=True)

# Simpan DataFrame gabungan dengan nilai NaN yang telah diisi ke file CSV
data_gab.to_csv('combined_with_filled_nan.csv', index=False)

# Cetak DataFrame gabungan
print(data_gab)

<ipython-input-110-f0a3c7dccbc8>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data_gab.fillna(data_gab.mean(), inplace=True)

                Time        V1        V2        V3        V4        V5  \
0           0.000000 -1.359807 -0.072781  2.536347  1.378155 -0.338321
1           0.000000  1.191857  0.266151  0.166480  0.448154  0.060018
2           1.000000 -1.358354 -1.340163  1.773209  0.379780 -0.503198
3           1.000000 -0.966272 -0.185226  1.792993 -0.863291 -0.010309
4           2.000000 -1.158233  0.877737  1.548718  0.403034 -0.407193
...              ...       ...       ...       ...       ...       ...
297166  63649.526966 -0.150143  0.028160  0.442686  0.102605 -0.159387
297167  63649.526966 -0.150143  0.028160  0.442686  0.102605 -0.159387
297168  63649.526966 -0.150143  0.028160  0.442686  0.102605 -0.159387
297169  63649.526966 -0.150143  0.028160  0.442686  0.102605 -0.159387
297170  63649.526966 -0.150143  0.028160  0.442686  0.102605 -0.159387

              V6        V7        V8        V9  ...  total_bal_il     il_util  \
0       0.462388  0.239599  0.098698  0.363787  ...  36048.730844   68.677307
1      -0.082361 -0.078803  0.085102 -0.255425  ...  36048.730844   68.677307
2       1.800499  0.791461  0.247676 -1.514654  ...  36048.730844   68.677307
3       1.247203  0.237609  0.377436 -1.387024  ...  36048.730844   68.677307
4       0.095921  0.592941 -0.270533  0.817739  ...  36048.730844   68.677307
...          ...       ...       ...       ...  ...           ...         ...
297166  0.055397 -0.073182  0.027862  0.015989  ...  39230.000000   68.677307
297167  0.055397 -0.073182  0.027862  0.015989  ...  41477.000000  104.000000
297168  0.055397 -0.073182  0.027862  0.015989  ...  40764.000000   72.000000
297169  0.055397 -0.073182  0.027862  0.015989  ...  38470.000000   81.000000
297170  0.055397 -0.073182  0.027862  0.015989  ...  36048.730844   68.677307

        open_rv_12m  open_rv_24m   max_bal_bc   all_util  total_rev_hi_lim  \
0          1.318482     2.806627  5811.518888  58.102388      35119.192667
1          1.318482     2.806627  5811.518888  58.102388      35119.192667
2          1.318482     2.806627  5811.518888  58.102388      35119.192667
3          1.318482     2.806627  5811.518888  58.102388      35119.192667
4          1.318482     2.806627  5811.518888  58.102388      35119.192667
...             ...          ...          ...        ...               ...
297166     0.000000     2.000000  1961.000000  38.000000      12500.000000
297167     0.000000     1.000000   739.000000  93.000000       5800.000000
297168     1.000000     2.000000  8855.000000  55.000000      74100.000000
297169     2.000000     2.000000  3368.000000  51.000000      40000.000000
297170     1.318482     2.806627  5811.518888  58.102388      35119.192667

          inq_fi  total_cu_tl  inq_last_12m
0       0.964588     1.455862      2.041978
1       0.964588     1.455862      2.041978
2       0.964588     1.455862      2.041978
3       0.964588     1.455862      2.041978
4       0.964588     1.455862      2.041978
...          ...          ...           ...
297166  0.000000     7.000000      0.000000
297167  3.000000     0.000000      4.000000
297168  2.000000     5.000000      1.000000
297169  3.000000     0.000000      1.000000
297170  0.964588     1.455862      2.041978

[297171 rows x 116 columns]

In [ ]:
%whos

Variable          Type         Data/Info
----------------------------------------
columns_to_drop   list         n=993
combined_df       DataFrame            Time        V1   <...>7171 rows x 1109 columns]
data              DataFrame                Time        V<...>178374 rows x 31 columns]
data1             DataFrame                Time        V<...>178374 rows x 31 columns]
data2             DataFrame            NO               <...>1010 rows x 1001 columns]
data3             DataFrame         CustomerID   Genre  <...>n\n[200 rows x 5 columns]
data4             DataFrame                   id  member<...>117587 rows x 72 columns]
data_gab          DataFrame                    Time     <...>97171 rows x 116 columns]
drive             module       <module 'google.colab.dri<...>s/google/colab/drive.py'>
file_path         str          /content/drive/My Drive/filecsv/creditcard.csv
file_path1        str          /content/drive/My Drive/filecsv/creditcard.csv
file_path2        str          /content/drive/My Drive/f<...>ecsv/data_harga_rumah.csv
file_path3        str          /content/drive/My Drive/filecsv/shopping_data.csv
file_path4        str          /content/drive/My Drive/filecsv/lc_2016_2017.csv
kolom_hapus       list         n=993
pd                module       <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
result            DataFrame        A   B key   C   D key<...>3  E3  F3  K3  G3  H3  K3

In [ ]:
print(dir())

['In', 'Out', '_', '_101', '_104', '_106', '_109', '_11', '_12', '_13', '_14', '_15', '_16', '_19', '_26', '_27', '_30', '_31', '_32', '_33', '_34', '_41', '_42', '_43', '_44', '_46', '_49', '_50', '_55', '_59', '_60', '_62', '_63', '_68', '_71', '_74', '_78', '_85', '_88', '_94', '_95', '_96', '_99', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_exit_code', '_i', '_i1', '_i10', '_i100', '_i101', '_i102', '_i103', '_i104', '_i105', '_i106', '_i107', '_i108', '_i109', '_i11', '_i110', '_i111', '_i112', '_i113', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i62', '_i63', '_i64', '_i65', '_i66', '_i67', '_i68', '_i69', '_i7', '_i70', '_i71', '_i72', '_i73', '_i74', '_i75', '_i76', '_i77', '_i78', '_i79', '_i8', '_i80', '_i81', '_i82', '_i83', '_i84', '_i85', '_i86', '_i87', '_i88', '_i89', '_i9', '_i90', '_i91', '_i92', '_i93', '_i94', '_i95', '_i96', '_i97', '_i98', '_i99', '_ih', '_ii', '_iii', '_oh', 'columns_to_drop', 'combined_df', 'data', 'data1', 'data2', 'data3', 'data4', 'data_gab', 'drive', 'exit', 'file_path', 'file_path1', 'file_path2', 'file_path3', 'file_path4', 'get_ipython', 'kolom_hapus', 'pd', 'quit', 'result']

In [ ]:
# Menampilkan seluruh nama kolom
seluruh_kolom = data_gab.columns.tolist()
print("Seluruh Nama Kolom:", seluruh_kolom)

Seluruh Nama Kolom: ['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount', 'Class', 'NO', 'NAMA RUMAH', 'HARGA', 'LB', 'LT', 'KT', 'KM', 'GRS', 'CustomerID', 'Genre', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)', 'id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m']

In [ ]:
# Deteksi kolom dengan nilai NaN
kolom_dengan_nan = data_gab.columns[data_gab.isna().any()].tolist()

# Menampilkan kolom yang memiliki nilai NaN
print("Kolom dengan nilai NaN:", kolom_dengan_nan)

Kolom dengan nilai NaN: ['NAMA RUMAH', 'Genre', 'member_id', 'term', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'initial_list_status', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'application_type', 'verification_status_joint']

In [ ]:
# Menampilkan tipe data dari setiap kolom
tipe_data_kolom = data_gab.dtypes

# Menampilkan kolom yang memiliki nilai NaN
kolom_dengan_nan = data_gab.columns[data_gab.isna().any()].tolist()

# Menampilkan seluruh nama kolom
seluruh_kolom = data_gab.columns.tolist()

print("Tipe Data Kolom:")
print(tipe_data_kolom)

print("\nKolom dengan nilai NaN:", kolom_dengan_nan)

Tipe Data Kolom:
Time                float64
V1                  float64
V2                  float64
V3                  float64
V4                  float64
                     ...
all_util            float64
total_rev_hi_lim    float64
inq_fi              float64
total_cu_tl         float64
inq_last_12m        float64
Length: 116, dtype: object

Kolom dengan nilai NaN: ['NAMA RUMAH', 'Genre', 'member_id', 'term', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'initial_list_status', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'application_type', 'verification_status_joint']